PBT_OUTPUT_DIR=./results
PBT_NTP_SERVER=pool.ntp.org
# PBT_NTP_OFFSET_NS=  # manual override; skips NTP query
UDP_MTU=1472
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=
ZMQ_TCP_HOST=localhost
ZMQ_TCP_PORT=5555
TCP_HOST=localhost
TCP_PORT=9000
UDP_HOST=localhost
UDP_PORT=9001
